<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fleekspace</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <nav class="p-3 bg-black text-white">
        <ul class="flex grow space-between">
            <li>Home</li>
            <li>Categories</li>
            <li>Sponsor</li>
        </ul>    
    </nav>

    <!-- header  -->
    <div class="p-5 place-content-center place-items-center">
        <div class="container rounded bg-black p-3 text-center font-bold text-4xl">
            Welcome to Fleekspace
        </div>
    </div>
    <!-- articles  -->
     <div class="container container-sm">
        <div class="py-2">
            <h5>Title Of Article 1</h5>
            <p>Posted 20 Minutes ago, By <a href="">Alex</a></p>

            <p class="pt-2">
                This is the shortened version of the article, you might want to read more
            </p>

            <a class="btn rounded p-2 font-bold" href="">Read More</a>
        </div>

        <div class="py-2">
            <h5>Title Of Article 1</h5>
            <p>Posted 20 Minutes ago, By <a href="">Alex</a></p>

            <p class="pt-2">
                This is the shortened version of the article, you might want to read more
            </p>

            <a class="btn rounded p-2 font-bold" href="">Read More</a>
        </div>

        <div class="py-2">
            <h5>Title Of Article 1</h5>
            <p>Posted 20 Minutes ago, By <a href="">Alex</a></p>

            <p class="pt-2">
                This is the shortened version of the article, you might want to read more
            </p>

            <a class="btn rounded p-2 font-bold" href="">Read More</a>
        </div>

        <div class="py-2">
            <h5>Title Of Article 1</h5>
            <p>Posted 20 Minutes ago, By <a href="">Alex</a></p>

            <p class="pt-2">
                This is the shortened version of the article, you might want to read more
            </p>

            <a class="btn rounded p-2 font-bold" href="">Read More</a>
        </div>

        <div class="py-2">
            <h5>Title Of Article 1</h5>
            <p>Posted 20 Minutes ago, By <a href="">Alex</a></p>

            <p class="pt-2">
                This is the shortened version of the article, you might want to read more
            </p>

            <a class="btn rounded p-2 font-bold" href="">Read More</a>
        </div>

        <button class="p-2 text-2xl font-bold rounded">View All</button>
     </div>

    <!-- cta - contact  -->

    <!-- footer  -->
     <div>
        <h2>Thanks for being part of us, bro.</h2>
     </div>
</body>
</html>